@model FiguresListViewModel
@{
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger col-md-6">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success col-md-6">
            @TempData["SuccessMessage"]
        </div>
    }

    if (User?.Identity?.IsAuthenticated ?? false)
    {
        <div id="searchUrlBoxWrapper" class="d-flex justify-content-center align-items-center">
            <div id="searchUrlBox">
                <form asp-action="AddProfileUrl" id="profileForm" method="post">
                    <input id="profileUrlInput" class="form-control mb-3" type="text" name="profileUrl" placeholder="Please provide a link to your myfigurecollection.net account" oninput="checkInput()" style="text-align: center;" />
                    <button id="submitButton" class="btn btn-primary" type="submit" disabled>Add</button>
                </form>
            </div>
        </div>

        @if (Model != null)
        {
            <div class="collection-value d-flex justify-content-center">
                <span class="total-value">Total Retail Value: <span class="figure-price">$@Model.SumRetailPriceCollection</span></span>
                <span class="total-value">Total Aftermarket Value: <span class="figure-price">$@Model.SumAvgAftermarketPriceCollection</span></span>
            </div>
            <div class="figure-container justify-content-center">
                @foreach (var figure in Model.Figures)
                {
                    <div class="figure-card m-2">
                        <div class="figure-image" style="background-image: url('@figure.ImageUrl');">
                            <div class="figure-overlay">
                                <span class="title">@figure.Name</span>
                            </div>
                        </div>
                        <ul class="figure-info">
                            <li>Retail Price: <span class="figure-price">@figure.RetailPriceCurrency@figure.RetailPrice</span></li>
                            <li>Average Aftermarket Price: <span class="figure-price">@figure.AvgAftermarketPriceCurrency@figure.AvgAftermarketPrice</span></li>
                        </ul>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <div class="text-center">
            <h2 class="welcome-header">Welcome!</h2>
            <p></p>
            <h4>If you want to check the current value of your anime figure collection, please create an account and provide a link to your <a href="https://myfigurecollection.net/" target="_blank">MyFigureCollection</a> acccount.</h4>
        </div>
    }
}

<script>
    function checkInput() {
        const inputField = document.getElementById("profileUrlInput");
        const submitButton = document.getElementById("submitButton");
        submitButton.disabled = inputField.value.trim() === '';
    }

    document.addEventListener("DOMContentLoaded", function () {
        checkInput();
    });
</script>