@model FigureInListViewModel

@{
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger d-flex justify-content-center align-items-center">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success d-flex justify-content-center align-items-center">
            @TempData["SuccessMessage"]
        </div>
    }
}


<div class="figure-card m-2">
    <div class="figure-image" style="background-image: url('@Model.ImageUrl');">
        <div class="figure-overlay">
            <span class="title">@Model.Name</span>
        </div>
    </div>
    </a>
    <ul class="figure-info">
        <li>Retail Price: <span class="figure-price">@Model.RetailPriceCurrency@Model.RetailPrice</span></li>
        <li>Avg. Aftermarket Price: <span class="figure-price">@Model.AvgAftermarketPriceCurrency@Model.AvgCurrentAftermarketPrice</span></li>
    </ul>
</div>