@model FigurePageViewModel

@{
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger d-flex justify-content-center align-items-center">
            @TempData["ErrorMessage"]
        </div>
    }

    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success d-flex justify-content-center align-items-center">
            @TempData["SuccessMessage"]
        </div>
    }
}

<div class="d-flex flex-wrap justify-content-center">
    <div class="col-md-3 text-center" id="leftSide">
        <div class="figureImage">
            <img src="@Model.ImageUrl" />
        </div>
    </div>
    <div class="col-md-9" id="rightSide">
        <ul class="figureInfo">
            <li><h2>@Model.Name</h2></li>
            <br />
            <li><strong>Origin: </strong>@Model.Origin</li>
            <li><strong>Company: </strong>@Model.Company</li>
            <br />
            <li class="position-relative">
                <a class="text-decoration-none" style="color: white;" href="@Model.FigureUrl" target="_blank">
                    <img class="mfc-logo" src="~/images/mfc-icon.webp" alt="@Model.FigureUrl" title="Open on MFC" />
                    <span class="mfc-logo-text" title="Open on MFC">
                        <span>MY<strong>FIGURE</strong>COLLECTION</span>
                    </span>
                </a>
            </li>
            <br />
            <li><strong>Retail Price: </strong><span class="figure-price">@Model.RetailPriceCurrency@Model.RetailPrice</span></li>
            <li><strong>Avg. Aftermarket Price: </strong><span class="figure-price">@Model.AvgAftermarketPriceCurrency@Model.AvgCurrentAftermarketPrice</span></li>
        </ul>
    </div>
</div>